@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Lato', Helvetica Neue, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

header{
    background-color: #23252b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
}

#logo{
    margin-left: 40px;
}

#logo img{
    max-width: 100%;
    height: 5rem;
}

nav{
    width: 25rem;
    justify-content: space-between;
    justify-self: end;
    margin-right: 40px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
}

#logo_home{
    max-width: 100%;
    height: 5rem;
    margin-left: 40px;
}

.welcome_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 8.5rem 0rem 8.5rem;
}

.welcome_container img{
    max-height: 100%;
    width: 26rem;
}

.welcome_texts{
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 700px;
    margin-top: 5rem;
}

.welcome_texts h3{
    font-weight: normal;
    font-size: 18px;
}

#welcome_title{
    justify-content: start;
    max-width: 500px;
    font-size: 34px;
}

.button_area{
   padding: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button_area button{
    background-color: #ff640a;
    color: #000;
    padding: 1rem;
    border-style: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
 }

.button_area img{
    max-height: 100%;
    width: 6rem;
}

button{
    background-color: #ff640a;
    color: #000;
    padding: 1rem;
    border-style: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    margin: 5rem;
}

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 5rem;
    text-align: center;
}

.exercise_container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 1s;
    text-align: center;
}

#converter_area{
    margin-bottom: 9rem;
}

.exercise_container p{
    margin-top: 4rem;
    margin-bottom: 6rem;
    font-size: 20px;
}

.exercise_container:hover{
    .line_container{
        visibility: visible;
    }
}

.video_container{
    max-width: 1250px;
}

.inputs_area{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs_area input{
    background-color: #000;
    border-style: none;
    font-size: 16px;
    color: #fff;
    border-bottom: solid 2px #59595b;
    width: 20rem;
}


.form_container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.form_container input{
    background-color: #000;
    border-style: none;
    font-size: 16px;
    color: #fff;
    border-bottom: solid 2px #59595b;
    width: 30rem;
}

.form_container input:not(:last-child){
    margin-bottom: 3.5rem;
}

#radios_area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

#radios_area input{
    width: 3rem;
    margin-bottom: 0rem;
    color: #a0a0a0;
}

#radios_area input[type="radio"]{
    accent-color: #ff640a;
}

#radios_area label{
    color: #a0a0a0;;
}

#gender {
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: left;
    color: #a0a0a0;
    font-size: 16px;
    width: 30rem;
}


.form_container input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: solid 2px #ff640a;
}


.form_container button{
    color: #59595b;
    border: 2px solid #a0a0a0;
    border-radius: 20px;
    width: 20rem;
    height: 2.5rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 3rem;
}

.inputs_area select{
    background-color: #000;
    border-style: none;
    font-size: 16px;
    color: #fff;
    border-bottom: solid 2px #59595b;
    width: 5rem;
    text-align: center;
}

.inputs_area input:not(:last-child){
    margin-right: 2rem;
}

.inputs_area input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: solid 2px #ff640a;
}

.result_container{
    width: 40rem;
    min-height: 6rem;
    border: 2px solid #ff640a;
    color: #fff;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.result_container:not(:last-child){
    margin-bottom: 2rem;
}

#result_area, .result_container p{
    margin: 1rem;
}


#video_for_form{
    margin: 0;
    margin-top: 2rem;
}

footer{
    background-image: linear-gradient(#000,  rgb(32, 56, 66));
    height: 8rem;
    color: #a0a0a0;
    font-size: 18px; 
    margin-top: 10rem;
}

.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70;
}

.footer_container h2{
    font-weight: 500;
    font-size: 20px;
}

.brands_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.border_area{
    width: 70%;
    height: 1px;
    background-color: #59595b;
    margin-bottom: 3.5rem;
}

#fernanda_pictures{
    font-family: 'Nunito';
}

#btn{
    background-color: #000;
    margin: 0;
    border-radius: 2rem;
    transition: all ease-in 0.8s;
    padding: 0.2rem;
}

#btn-video{
    background-color: #000;
    margin: 0;
    border-radius: 2rem;
    transition: all ease-in 0.8s;
    padding: 0.2rem;
}

#btn-video img{
    width: 4rem;
    height: 4rem;
}

#btn:hover img{
   scale: 1.15;
}

#btn img{
    width: 4rem;
    height: 4rem;
}

.circle{
    height: 1rem;
    width: 1rem;
    background-color: #ff640a;
    border-radius: 2rem;
    cursor: pointer;
}

.line_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    visibility: hidden;
}

.line_area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_line{
    width: 1100px;
    height: 2px;
    background-color: #a0a0a0;
}


#rock{
    margin: 0;
    margin-right: 2rem;
}

#paper{
    margin: 0;
    margin-right: 2rem;
}

#scissors{
    margin: 0;
}

.big_inputs_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem; 
    padding: 3rem;
    margin: 0;
}

#long_input_area{
    max-width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big_inputs_result{
    margin-top: 2.5rem;
}

#big_inputs_line{
    margin-top: 2rem;
}


.home_main_section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/hime_fundo.png');
    background-size: cover;
    /* filter: brightness(25%); */
    z-index: 0;
}

.home_title{
    margin: 0;
    margin-bottom: 4rem;
}

.main_home_container{
    z-index: 1;
}

.classes_links_container { 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 1.25rem; 
}
.classes_links_container a{
    text-decoration: none;
}

.classes_link{
    height: 11.5em;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.classes_link:hover{
    background-color: #23252b;
}

.classes_link img{
    max-height: 100%;
    width: 7.6rem;
    border-radius: 10rem;
    border: solid 2px rgb(218, 218, 218);
}

.classes_link h3{
    text-align: center;
    font-weight: 400;
    margin-top: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    color: rgb(218, 218, 218);
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_button_container button{
    background: transparent;
    color: #dadada;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-style: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    border: solid 2px #fff;
    margin: 0 auto;
    margin-top: 4rem;
}

#asta{
    max-width: 100%;
    height: 26rem;
}

.usability_container{
    width: 100vw;
}

.usability_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}

.usability_text{
    width: 26.25rem;
}

.usability_text h2{
    margin-bottom: 2rem;
    font-size: 34px;
}

.usability_text p{
    color: #dadada;
    font-size: 18px;
}

.content_line{
    height: 0.3rem;
    width: 70vw;
    background: linear-gradient(to right, #ff640a, #ff640a, yellow);
    margin-top: 2rem;
}

.usability_cards-conainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 70vw;
}
  