@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Lato', Helvetica Neue, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

header{
    background-color: #23252b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
}

#logo{
    margin-left: 40px;
}

#logo img{
    max-width: 100%;
    height: 5rem;
}

nav{
    width: 25rem;
    justify-content: space-between;
    justify-self: end;
    margin-right: 40px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
}

#logo_home{
    max-width: 100%;
    height: 5rem;
    margin-left: 40px;
}

.welcome_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 8.5rem 0rem 8.5rem;
}

.welcome_container img{
    max-height: 100%;
    width: 26rem;
}

.welcome_texts{
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 700px;
    margin-top: 5rem;
}

.welcome_texts h3{
    font-weight: normal;
    font-size: 18px;
}

#welcome_title{
    justify-content: start;
    max-width: 500px;
    font-size: 34px;
}

.button_area{
   padding: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button_area button{
    background-color: #ff640a;
    color: #000;
    padding: 1rem;
    border-style: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
 }

.button_area img{
    max-height: 100%;
    width: 6rem;
}

button{
    background-color: #ff640a;
    color: #000;
    padding: 1rem;
    border-style: none;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    margin: 5rem;
}

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 6rem;
    text-align: center;
}

.exercise_container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 1s;
    text-align: center;
}

#converter_area{
    margin-bottom: 9rem;
}

.exercise_container p{
    margin-top: 4rem;
    margin-bottom: 6rem;
    font-size: 20px;
}

.exercise_container:hover{
    .line_container{
        visibility: visible;
    }
}

.video_container{
    max-width: 1250px;
}

.inputs_area{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs_area input{
    background-color: #000;
    border-style: none;
    font-size: 16px;
    color: #fff;
    border-bottom: solid 2px #59595b;
    width: 20rem;
}

.inputs_area input:not(:last-child){
    margin-right: 2rem;
}

.inputs_area input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: solid 2px #ff640a;
}

.result_container{
    width: 40rem;
    min-height: 6rem;
    border: 2px solid #ff640a;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.result_container:not(:last-child){
    margin-bottom: 2rem;
}

#result_area, .result_container p{
    margin: 1rem;
}

footer{
    background-image: linear-gradient(#000,  rgb(32, 56, 66));
    height: 8rem;
    color: #a0a0a0;
    font-size: 18px; 
    margin-top: 10rem;
}

.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70;
}

.footer_container h2{
    font-weight: 500;
    font-size: 20px;
}

.brands_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.border_area{
    width: 70%;
    height: 1px;
    background-color: #59595b;
    margin-bottom: 3.5rem;
}

#fernanda_pictures{
    font-family: 'Nunito';
}

#btn{
    background-color: #000;
    margin: 0;
    border-radius: 2rem;
    transition: all ease-in 0.8s;
    padding: 0.2rem;
}

#btn:hover img{
   scale: 1.15;
}

#btn img{
    width: 4rem;
    height: 4rem;
}

.circle{
    height: 1rem;
    width: 1rem;
    background-color: #ff640a;
    border-radius: 2rem;
    cursor: pointer;
}

.line_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    visibility: hidden;
}

.line_area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_line{
    width: 1100px;
    height: 2px;
    background-color: #a0a0a0;
}